
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>register</title>
</head>
<body>
    <div> 
        <form action="/operation/show">
            id:<input type ="text" name="id" /><br />
            name:<input type="text" name="name" /><br />
            age:<input type="text" name="age" /><br />
            <input type="submit" value="save" />
        </form>
    </div>
</body>
</html>
